<% if @stock.present? %>
    <div class="card mt-3">
        <div class="card-body">
            <p class="card-text">
                <strong>Symbol: </strong><%= @stock.ticker %><br>
                <strong>Name: </strong><%= @stock.name %><br>
                <strong>Price: </strong><%= number_to_currency(@stock.last_price) %>
            </p>
        </div>
    </div>
<% end %>