<% if @stock %>
    <div class="card mt-3">
        <div class="card-body">
            <p class="card-text">
                <strong>Símbolo: </strong><%= @stock.ticker %><br>
                <strong>Nome: </strong><%= @stock.name %><br>
                <strong>Preço: </strong><%= number_to_currency(@stock.last_price) %>
            </p>
        </div>
    </div>
<% end %>